body {
  font-family: monospace;
}

h2 {
  padding-left: 25px;
}


.jumbotron p {
  font-size: 15px;
  color: blue;
  padding-left: 25px;
}

.jumbotron span:hover {
  cursor: pointer;
  color: black;
}

.showSubs {
  font-size: 15px;
  color: blue;
  padding-left: 10px;
  cursor: pointer;
}

.listing {
  padding-left: 50px;
}

.sub {
  font-style: italic;
  margin-left: 50px;
  display: none;
}

.parent {
  margin-top: 15px;
}

.show {
  display: block;
}
