<div class="jumbotron">
  <h2>Enlightened Citizenry</h2>
  <p><span>{{#link-to 'index'}}Home{{/link-to}}</span> || <span>{{#link-to 'committies'}}Committees{{/link-to}}</span></p>
</div>
<div class="container">
  {{outlet}}
</div>
