<h1>Congressional Committees<span {{action 'showSubs'}} class="showSubs">click here to show all subcommittees</span></h1>
<ul>
  {{#each model as |committee|}}

  <div class="committees">
    <div class="parent">
      <strong>{{committee-filter committee}}</strong>
    </div>
      {{#each model as |subcommittee|}}
        <div class="sub">
          <p>{{sub-committee subcommittee committee.committee_id}}</p>
        </div>
      {{/each}}
    </div>
  {{/each}}
</ul>
