<h1>Congressional Committees</h1>
<button{{action 'showSubs'}}>Show all subcommittees</button>
<ul>
  {{#each model as |committee|}}
    <div class="committees">
      <div class="parent">{{committee-filter committee}}</div>
      {{#each model as |subcommittee|}}
        <div class="sub">
          {{sub-committee subcommittee committee.committee_id}}
        </div>
      {{/each}}
    </div>

  {{/each}}
</ul>
