<ul>
  {{#each model as |legislator|}}
    <div class="well">
      <h4>{{legislator.first_name}} {{legislator.last_name}}:</h4>
      <p><a href={{legislator.contact_form}}>{{legislator.contact_form}}</a></p>
    </div>
  {{/each}}
</ul>
